* {
  padding: 0;
  margin: 0;
}
.logo {
  width: 50px;
}
nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav-item {
  display: inline;
}
ul a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: white;
  background-color: rgb(34, 34, 34);
  border: 0px solid rgb(34, 34, 34);
  border-radius: 10px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-photo {
  width: 300px;
  border-radius: 10px;
}
.content-one {
  width: 320px;
}
.content-two {
  width: 500px;
}
.content-two h1 {
  font-family: "Coda Caption", sans-serif;
}
.content-two p {
  color: rgb(63, 63, 63);
}
.real-text {
  display: none;
}
#dugme {
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 5px;
}
